.add {
    width: 80%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto; 
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



